RHT_T_MAG_MOV_ANG.json
[
    {
        "id": "adf6dd9955f82fdc",
        "type": "tab",
        "label": "RHT, T, MAG, MOV, ANG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c83df52c60bc9cfa",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "5159dc9ffe43f36f",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 420,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "e1416525ec4c0a1b",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "RHT nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 420,
        "wires": [
            [
                "c83df52c60bc9cfa",
                "b349145de7c53433"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\r\nProcesses messages to extract the sensor name."
    },
    {
        "id": "4307115b3d022b01",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "5159dc9ffe43f36f",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 460,
        "wires": [],
        "info": "Wyświetla temperature.\r\nDisplays the temperature.\r\n"
    },
    {
        "id": "cdaf27de9290490b",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "RHT temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 460,
        "wires": [
            [
                "4307115b3d022b01",
                "dfb85813ee2bd283",
                "59af8b6a9f243da1",
                "326c4485d081eab1"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury\r\nProcesses messages to extract the temperature value.\r\n"
    },
    {
        "id": "b4095f6e55ddec3a",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "5159dc9ffe43f36f",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wilgotność:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 500,
        "wires": [],
        "info": "Wyświetla wilgotność.\r\nDisplays the humidity.\r\n"
    },
    {
        "id": "ddce765a5d9c180a",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "RHT wilgotnosc",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.humidity;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"wilgotność\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 500,
        "wires": [
            [
                "b4095f6e55ddec3a",
                "c1fde816dafb6f1a",
                "d563eaed8bddfeb1",
                "9cdf85f4a1dddebf"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość wilgotniści\r\nProcesses messages to extract the humidity value.\r\n"
    },
    {
        "id": "621faae7b869d540",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "ea1817d2da34bc72",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 720,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "5992fc019816fae3",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "T nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 720,
        "wires": [
            [
                "621faae7b869d540",
                "1146d8886f7103b4"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\r\nProcesses messages to extract the sensor name."
    },
    {
        "id": "e64954c516df6bd2",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "ea1817d2da34bc72",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 760,
        "wires": [],
        "info": "Wyświetla temperature.\r\nDisplays the temperature.\r\n"
    },
    {
        "id": "923015e4aed8040a",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "T temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 760,
        "wires": [
            [
                "e64954c516df6bd2",
                "98954467bb4efbe3",
                "1a0c4da8016a977b",
                "a665a9e0a960306b"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość temperatury\r\nProcesses messages to extract the temperature value.\r\n"
    },
    {
        "id": "004e18e47b84e1d1",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "1ca5563fcbfe4fc4",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 960,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "e86e3c1628045585",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MAG nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 960,
        "wires": [
            [
                "004e18e47b84e1d1",
                "deb3682873fbb452"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\r\nProcesses messages to extract the sensor name."
    },
    {
        "id": "02cf664ff1b5d85f",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "1ca5563fcbfe4fc4",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Stan:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1000,
        "wires": [],
        "info": "Wyświetla stan pola magnetycznego.\r\nDisplays the status of the magnetic field."
    },
    {
        "id": "d838437218659641",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MAG state",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        if (Object.keys(msg.payload.data[0].charValues).length > 0){\n            msg.payload = msg.payload.data[0].charValues.alertLevel.state;\n        } else {\n            return;\n        }      \n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"stan\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "02cf664ff1b5d85f",
                "48e05fd5da1db66f",
                "49ba0177eab9f097",
                "8232d2cf2ff8357b"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić status pola magnetycznego.\r\nProcesses messages to extract the status of the magnetic field.\r\n"
    },
    {
        "id": "6db280d1e990adad",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "1ca5563fcbfe4fc4",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 980,
        "y": 1040,
        "wires": [],
        "info": "Wyświetla ilość zmnian pola magnetycznego.\r\nDisplays the amount of sensor contact with the magnet."
    },
    {
        "id": "f3e708815e79b379",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MAG count",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        if (Object.keys(msg.payload.data[0].charValues).length > 0){\n            msg.payload = msg.payload.data[0].charValues.alertLevel.counter;\n        } else {\n            return;\n        }      \n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"licznik\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "6db280d1e990adad",
                "ee2f694b27c63b8a",
                "f22e43c968043eea",
                "24fb481e7104997b"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić ilość kontaktu czujnika z magnesem (ilość zmian w polu magnetycznym).\r\nProcesses messages to extract the amount of sensor contact with the magnet."
    },
    {
        "id": "47a6897609f29ffa",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG X",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].charValues.xAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"x\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "43ab515f987a2380",
                "121d0d1363203b03",
                "5517c66ed3a95113",
                "b4e939cb46c3e000"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość osi X.\r\nProcesses messages to extract the axis's X value."
    },
    {
        "id": "77c64df0c744f83f",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG Y",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].charValues.yAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"y\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1320,
        "wires": [
            [
                "9978d9f1521fea63",
                "121d0d1363203b03",
                "2d8bbf8a67f4acbc",
                "b4e939cb46c3e000"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość osi Y.\r\nProcesses messages to extract the axis's Y value."
    },
    {
        "id": "212b43ec0b8956a0",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG Z",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].charValues.zAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"z\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1360,
        "wires": [
            [
                "c75effd9788c12bb",
                "121d0d1363203b03",
                "32b5999dbff9310a",
                "b4e939cb46c3e000"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość osi Z.\r\nProcesses messages to extract the axis's Z value."
    },
    {
        "id": "fa7783cf67616c4f",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1240,
        "wires": [
            [
                "c068464078f06495",
                "c62da5a3c8f37fa9"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\r\nProcesses messages to extract the sensor name."
    },
    {
        "id": "c068464078f06495",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 1,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 1240,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "43ab515f987a2380",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś X:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1280,
        "wires": [],
        "info": "Wyświetla wartość osi X.\r\nDisplays the axsi x value."
    },
    {
        "id": "9978d9f1521fea63",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Y:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1320,
        "wires": [],
        "info": "Wyświetla wartość osi Y.\r\nDisplays the axsi Y value."
    },
    {
        "id": "c75effd9788c12bb",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Z:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1360,
        "wires": [],
        "info": "Wyświetla wartość osi Z.\r\nDisplays the axsi Z value."
    },
    {
        "id": "dfb85813ee2bd283",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "RHT T",
        "group": "5159dc9ffe43f36f",
        "order": 9,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 460,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury.\r\nDraws the temperature."
    },
    {
        "id": "98954467bb4efbe3",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "T",
        "group": "ea1817d2da34bc72",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 760,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury.\r\nDraws the temperature."
    },
    {
        "id": "ee2f694b27c63b8a",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "MAG",
        "group": "1ca5563fcbfe4fc4",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1040,
        "wires": [
            []
        ],
        "info": "Rysuje wykres ilość kontaktu czujnika z magnesem.\r\nDraws the amount of sensor contact with the magnet."
    },
    {
        "id": "121d0d1363203b03",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "MOV",
        "group": "0deed91a4739f2bc",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1320,
        "wires": [
            []
        ],
        "info": "Rysuje wykres wartości osi X, Y, Z.\r\nDraws the axsi X, Y, Z values."
    },
    {
        "id": "59af8b6a9f243da1",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "f4e57924918ed1cd",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 460,
        "wires": [],
        "info": "Wyświetla temperature.\r\nDisplays the temperature.\r\n"
    },
    {
        "id": "c1fde816dafb6f1a",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "f4e57924918ed1cd",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wilgotność:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 500,
        "wires": [],
        "info": "Wyświetla wilgotność.\r\nDisplays the humidity."
    },
    {
        "id": "1146d8886f7103b4",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "7927da874e043a8f",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 720,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "1a0c4da8016a977b",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "7927da874e043a8f",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 760,
        "wires": [],
        "info": "Wyświetla temperature.\r\nDisplays the temperature."
    },
    {
        "id": "deb3682873fbb452",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "adf7cf7a8df9ad59",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 960,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "48e05fd5da1db66f",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "adf7cf7a8df9ad59",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Stan:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 1000,
        "wires": [],
        "info": "Wyświetla stan pola magnetycznego.\r\nDisplays the status of the magnetic field."
    },
    {
        "id": "f22e43c968043eea",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "adf7cf7a8df9ad59",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 1040,
        "wires": [],
        "info": "Wyświetla ilość zmnian pola magnetycznego.\r\nDisplays the amount of sensor contact with the magnet."
    },
    {
        "id": "c62da5a3c8f37fa9",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 1,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 1240,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "5517c66ed3a95113",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś X:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 1280,
        "wires": [],
        "info": "Wyświetla wartość osi X.\r\nDisplays the axsi x value."
    },
    {
        "id": "2d8bbf8a67f4acbc",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Y:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 1320,
        "wires": [],
        "info": "Wyświetla wartość osi Y.\r\nDisplays the axsi Y value."
    },
    {
        "id": "32b5999dbff9310a",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Z:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 1360,
        "wires": [],
        "info": "Wyświetla wartość osi Z.\r\nDisplays the axsi Z value."
    },
    {
        "id": "d563eaed8bddfeb1",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "RHT H",
        "group": "f4e57924918ed1cd",
        "order": 8,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Rysuje wykres wilgotność.\r\nDraws the humidity."
    },
    {
        "id": "a665a9e0a960306b",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "T",
        "group": "7927da874e043a8f",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 760,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury.\r\nDraws the temperature."
    },
    {
        "id": "24fb481e7104997b",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "MAG",
        "group": "adf7cf7a8df9ad59",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1390,
        "y": 1040,
        "wires": [
            []
        ],
        "info": "Rysuje wykres ilość kontaktu czujnika z magnesem.\r\nDraws the amount of sensor contact with the magnet."
    },
    {
        "id": "b4e939cb46c3e000",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "MOV",
        "group": "3265ee4350f65bb8",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 1320,
        "wires": [
            []
        ],
        "info": "Rysuje wykres wartości osi X, Y, Z.\r\nDraws the axsi X, Y, Z values."
    },
    {
        "id": "8423314b640a804c",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "RHT rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "201713f172da223d",
                "ebd1974f60e1da7d"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\r\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "c94f792d310aed1c",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "T rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 800,
        "wires": [
            [
                "3f050af4ef3225a2",
                "06fd4fec009981a5"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\r\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "3b0be97752e59dd7",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MAG rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "345f3dffc310db72",
                "d2c41bfd2c508265"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\r\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "3a46497d6a7657e2",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "5c1ea38e37fe5622",
                "c36ff7d42d75cbac"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\r\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "201713f172da223d",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "5159dc9ffe43f36f",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 540,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "ebd1974f60e1da7d",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "f4e57924918ed1cd",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 540,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "3f050af4ef3225a2",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "7927da874e043a8f",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 800,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "d2c41bfd2c508265",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "adf7cf7a8df9ad59",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 1080,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "5c1ea38e37fe5622",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "3265ee4350f65bb8",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 1400,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "c36ff7d42d75cbac",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "0deed91a4739f2bc",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 1400,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "345f3dffc310db72",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "1ca5563fcbfe4fc4",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 1080,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "06fd4fec009981a5",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "ea1817d2da34bc72",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 800,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\r\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "49ba0177eab9f097",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "1ca5563fcbfe4fc4",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "Stan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 1000,
        "wires": [],
        "info": "Wyświetla stan pola magnetycznego jako miernik.\r\nDisplays the status of the magnetic field as a gauge."
    },
    {
        "id": "8232d2cf2ff8357b",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "adf7cf7a8df9ad59",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "wave",
        "title": "Stan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1390,
        "y": 1000,
        "wires": [],
        "info": "Wyświetla stan pola magnetycznego jako miernik.\r\nDisplays the status of the magnetic field as a gauge."
    },
    {
        "id": "1ae986b285a5b3fc",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 920,
        "wires": [
            [
                "fe4fee98ce746dfb",
                "74cd9eef7e853b47",
                "b3f63d8db24f1fc9",
                "6dafc9688ec8ae5a",
                "985f31600f02e2c4",
                "5ade16982c0db2dd",
                "819110c0f83c207e",
                "3ac955cc0fe4713e",
                "efee60411e88d0ce",
                "b88167b4b5b6a799"
            ]
        ],
        "info": "Przetwarza status połączenia MQTT na cyfry przypisane do kolorów LED\r\n(connected -> 2 -> zielony, connecting -> 1 -> żółty, disconnected -> 0 -> czerwony).\r\nProcesses the MQTT connection status into numbers assigned to LED colors.\r\n(connected -> 2 -> green, connecting -> 1 -> yellow, disconnected -> 0 -> red).\r\n"
    },
    {
        "id": "4755f92d43eed218",
        "type": "status",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "scope": [
            "47918c3507e3163b"
        ],
        "x": 160,
        "y": 920,
        "wires": [
            [
                "1ae986b285a5b3fc"
            ]
        ],
        "info": "Nasłuchuje statusu 'mqtt in' node\r\nListens to the status of the 'mqtt in' node."
    },
    {
        "id": "5ade16982c0db2dd",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "7927da874e043a8f",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla T.",
        "x": 330,
        "y": 1220,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "985f31600f02e2c4",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "ea1817d2da34bc72",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla T",
        "x": 330,
        "y": 1180,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "fe4fee98ce746dfb",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "0deed91a4739f2bc",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla MOV",
        "x": 340,
        "y": 980,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "74cd9eef7e853b47",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "3265ee4350f65bb8",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla MOV.",
        "x": 340,
        "y": 1020,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "b3f63d8db24f1fc9",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 4,
        "group": "1ca5563fcbfe4fc4",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla MAG",
        "x": 340,
        "y": 1080,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "6dafc9688ec8ae5a",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 4,
        "group": "adf7cf7a8df9ad59",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla MAG.",
        "x": 340,
        "y": 1120,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "819110c0f83c207e",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 4,
        "group": "5159dc9ffe43f36f",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla RHT",
        "x": 340,
        "y": 1280,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "3ac955cc0fe4713e",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "f4e57924918ed1cd",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla RHT.",
        "x": 340,
        "y": 1320,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\r\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\r\nLED indicator displaying the MQTT connection status.\r\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "9cdf85f4a1dddebf",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "RHT H",
        "group": "5159dc9ffe43f36f",
        "order": 10,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 500,
        "wires": [
            []
        ],
        "info": "Rysuje wykres wilgotność.\r\nDraws the humidity."
    },
    {
        "id": "326c4485d081eab1",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "RHT T",
        "group": "f4e57924918ed1cd",
        "order": 7,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1456,
        "y": 459,
        "wires": [
            []
        ],
        "info": "Rysuje wykres temperatury.\r\nDraws the temperature."
    },
    {
        "id": "ada488957cf129b3",
        "type": "debug",
        "z": "adf6dd9955f82fdc",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 760,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "e76195c2a0220885",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "RHT bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 580,
        "wires": [
            [
                "0d6f0be3555e435d",
                "1770b9e73451f885"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "0d6f0be3555e435d",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "5159dc9ffe43f36f",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 580,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "1770b9e73451f885",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "f4e57924918ed1cd",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 580,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "81e1e2bf4099e1c8",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "T bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 840,
        "wires": [
            [
                "caa58956de0c49a9",
                "ef4267c5b53140c1"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "caa58956de0c49a9",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "ea1817d2da34bc72",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 840,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "ef4267c5b53140c1",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "7927da874e043a8f",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 840,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "0b3b19bb4cd76f05",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MAG bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1120,
        "wires": [
            [
                "dfeb802a7c6e3de6",
                "0fe968ed32443c03"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "dfeb802a7c6e3de6",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "1ca5563fcbfe4fc4",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 1120,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "0fe968ed32443c03",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "adf7cf7a8df9ad59",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 1120,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "b0c318df00b48fcc",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "ANG bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_ANG\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1440,
        "wires": [
            [
                "0af736fa35b044da",
                "fb48b020844cce3e"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "0af736fa35b044da",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 1440,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "fb48b020844cce3e",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1300,
        "y": 1440,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "47918c3507e3163b",
        "type": "mqtt in",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "topic": "AMC",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "2e56e5416fcec5d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 700,
        "wires": [
            [
                "ada488957cf129b3",
                "e1416525ec4c0a1b",
                "cdaf27de9290490b",
                "ddce765a5d9c180a",
                "8423314b640a804c",
                "e76195c2a0220885",
                "5992fc019816fae3",
                "923015e4aed8040a",
                "c94f792d310aed1c",
                "e86e3c1628045585",
                "d838437218659641",
                "f3e708815e79b379",
                "3b0be97752e59dd7",
                "0b3b19bb4cd76f05",
                "fa7783cf67616c4f",
                "47a6897609f29ffa",
                "77c64df0c744f83f",
                "212b43ec0b8956a0",
                "3a46497d6a7657e2",
                "b0c318df00b48fcc",
                "81e1e2bf4099e1c8",
                "b34932bbf1420c42",
                "922de49cea08f988",
                "e1820b594758d377",
                "c370f3fa7ff9f03c"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC' na serwerze MQTT.\nReceives messages from the topic 'AMC' on the MQTT server."
    },
    {
        "id": "4b337d7f112cdf19",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Przetwarzanie wiadomości dla MAG",
        "info": "**Function Node 'MAG nazwa'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika.\n[ENG]   Processes messages to extract the name value from sensor.\n\n**Function Node 'MAG count'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić ilość kontaktu czujnika z magnesem.\n[ENG]   Processes messages to extract the amount of sensor contact with the magnet.\n\n**Function Node 'MAG state'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić status pola magnetycznego.\n[ENG]   Processes messages to extract the status of the magnetic field.\n\n**Function Node 'MAG rssi'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI czujnika.\n[ENG]   Processes messages to extract the RSSI value from sensor.\n\n**Function Node \"MAG bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 880,
        "y": 920,
        "wires": []
    },
    {
        "id": "38d9c5905792b178",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Przetwarzanie wiadomości dla T",
        "info": "**Function Node 'T nazwa'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika.\n[ENG]   Processes messages to extract the name value from sensor.\n\n**Function Node \"T temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n\n**Function Node \"T rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"T bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "a43cb04eba9b92dd",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Przetwarzanie wiadomości dla ANG",
        "info": "**Function Node 'ANG nazwa'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika z opcją MOV.\n[ENG]   Processes messages to extract the name value from sensor with MOV option.\n\n**Function Node 'ANG X'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość osi X.\n[ENG]   Processes messages to extract the value of axis X.\n\n**Function Node 'ANG Y'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość osi Y.\n[ENG]   Processes messages to extract the value of axis Y.\n\n**Function Node 'ANG Z'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość osi Z.\n[ENG]   Processes messages to extract the value of axis Z.\n\n**Function Node 'ANG rssi'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI czujnika z opcją MOV.\n[ENG]   Processes messages to extract the RSSI value from sensor with MOV option.\n\n**Function Node \"ANG bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "da2420079b6fd58f",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Przetwarzanie wiadomości dla RHT",
        "info": "**Function Node 'RHT nazwa'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika.\n[ENG]   Processes messages to extract the name value from sensor.\n\n**Function Node \"RHT temperatura\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość temperatury\n[ENG]   Processes messages to extract the temperature value.\n\n**Function Node \"RHT wilgotnisc\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość wilgotniści\n[ENG]   Processes messages to extract the humidity value.\n\n**Function Node \"RHT rssi\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\n[ENG]   Processes messages to extract the RSSI value\n\n**Function Node \"RHT bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "31545e9bd4b86b80",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Elementy widoczne MAG",
        "info": "**Text Node 'Nazwa czujnika'**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node 'Stan'**:\n[POL]   Wyświetla stan ruchu czujnika.\n[ENG]   Displays the status of the magnetic field.\n\n**Text Node 'Counter'**:\n[POL]   Wyświetla ilości zmian pola magnetycznego.\n[ENG]   Displays the amount of sensor contact with the magnet.\n\n**Gauge Node 'Stan'**:\n[POL]   Wyświetla stan pola magnetycznego.\n[ENG]   Displays the status of the magnetic field.\n\n**Chart Node 'MAG'**:\n[POL]   Rysuje wykres ilości poruszeń i drgań w czasie.\n[ENG]   Draws the amount of sensor contact with the magnet.\n\n**Gauge Node 'rssi'**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.",
        "x": 1305.71435546875,
        "y": 918.5714721679688,
        "wires": []
    },
    {
        "id": "d7525c96bf95e183",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Elementy widoczne dla T",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Chart Node \"T\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.",
        "x": 1330,
        "y": 680,
        "wires": []
    },
    {
        "id": "a0270e2160a7532e",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "LED Node \"MQTT\"",
        "info": "**LED Node \"dla MOV\", \"dla MAG\", \"dla T\", \"dla RHT\", \"dla ANG\"**:\n[POL]   Wskaźnik LED wyświetlający status połączenia MQTT\n        (connected -> zielony, connecting -> żółty, disconnected -> czerwony).\n[ENG]   LED indicator displaying the MQTT connection status.\n        (connected -> green, connecting -> yellow, disconnected -> red)",
        "x": 230,
        "y": 880,
        "wires": []
    },
    {
        "id": "922de49cea08f988",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MOV rssi",
        "func": "if (msg.payload.action === \"data.scan\") {\n    if (msg.payload.data[0].model === \"ELA_MOV\") {\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "6e9a40c944153d9b",
                "8f1fc07f52c5341e"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość RSSI.\nProcesses messages to extract the RSSI value."
    },
    {
        "id": "2ce9e3497fcc90ba",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MOV count",
        "func": "if (msg.payload.action === \"data.scan\") {\n    if (msg.payload.data[0].model === \"ELA_MOV\") {\n        msg.payload = msg.payload.data[0].counter;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"ilość zdarzeń magnetycznych\";\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1620,
        "wires": [
            [
                "6cf7b9463212fcba",
                "d7c118b90415caa1"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić ilość poruszeń i drgań.\nProcesses messages to extract the motion and vibration count."
    },
    {
        "id": "6e533365a214f926",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "9a6909c99d399945",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 1040,
        "y": 1540,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "efee60411e88d0ce",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "eed8cbaa911e5b5f",
        "width": 2,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla ANG.",
        "x": 340,
        "y": 1420,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\nLED indicator displaying the MQTT connection status.\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "6cf7b9463212fcba",
        "type": "ui_chart",
        "z": "adf6dd9955f82fdc",
        "name": "ilości poruszeń",
        "group": "9a6909c99d399945",
        "order": 12,
        "width": 7,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 1620,
        "wires": [
            []
        ],
        "info": "Rysuje wykres ilości poruszeń i drgań w czasie.\nDraws a motion and vibration count chart over time."
    },
    {
        "id": "6e9a40c944153d9b",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "9a6909c99d399945",
        "order": 1,
        "width": 2,
        "height": 3,
        "gtype": "donut",
        "title": "rssi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 1580,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "46e7ceeb3e268323",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Przetwarzanie wiadomości MOV",
        "info": "**Function Node 'MOV Nazwa czujnika'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić nazwe czujnika z opcją MOV.\n[ENG]   Processes messages to extract the name value from sensor with MOV option.\n\n**Function Node 'MOV rssi'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość RSSI czujnika z opcją MOV.\n[ENG]   Processes messages to extract the RSSI value from sensor with MOV option.\n\n**Function Node 'MOV count'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić ilość poruszeń i drgań czujnika z opcją MOV.\n[ENG]   Processes messages to extract the motion and vibration count from a sensor with the MOV option.\n\n**Function Node 'MOV state'**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić status ruchu i drgań czujnika z opcją MOV.\n[ENG]   Processes messages to extract the status of movment and vibration from a sensor with the MOV option.\n\n**Function Node \"MOV bateria\"**:\n[POL]   Przetwarza wiadomości, aby wyodrębnić wartość baterii\n[ENG]   Processes messages to extract the battery value.",
        "x": 870,
        "y": 1500,
        "wires": []
    },
    {
        "id": "de26884a8cb9f9da",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Elementy widoczne MOV",
        "info": "**Text Node 'Nazwa czujnika'**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Gauge Node 'rssi'**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Chart Node 'ilości poruszeń'**:\n[POL]   Rysuje wykres ilości poruszeń i drgań.\n[ENG]   Draws a motion and vibration count chart.\n\n**Gauge Node 'Stan ruchu'**:\n[POL]   Wyświetla stan ruchu czujnika.\n[ENG]   Displays the motion status.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.",
        "x": 1390,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e1820b594758d377",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MOV state",
        "func": "if (msg.payload.action === \"data.scan\") {\n    if (msg.payload.data[0].model === \"ELA_MOV\") {\n        msg.payload = msg.payload.data[0].state;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1660,
        "wires": [
            [
                "cf17e0ab7cc14083",
                "d72081a006687544"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić status ruchu.\nProcesses messages to extract the motion status."
    },
    {
        "id": "cf17e0ab7cc14083",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "Stan ruchu",
        "group": "9a6909c99d399945",
        "order": 7,
        "width": 2,
        "height": 3,
        "gtype": "wave",
        "title": "Stan ruchu",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1660,
        "wires": [],
        "info": "Wyświetla stan ruchu jako miernik.\nDisplays the motion status as a gauge."
    },
    {
        "id": "b34932bbf1420c42",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MOV Nazwa czujnika",
        "func": "if (msg.payload.action === \"data.scan\") {\n    if (msg.payload.data[0].model === \"ELA_MOV\") {\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1540,
        "wires": [
            [
                "6e533365a214f926",
                "36fa2bcd0f68c0e3"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić nazwę czujnika.\nProcesses messages to extract the sensor name."
    },
    {
        "id": "d7c118b90415caa1",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "9a6909c99d399945",
        "order": 5,
        "width": 4,
        "height": 3,
        "name": "ilości poruszeń",
        "label": "wykres ilości poruszeń:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#000000",
        "x": 1360,
        "y": 1620,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "b88167b4b5b6a799",
        "type": "ui_led",
        "z": "adf6dd9955f82fdc",
        "order": 3,
        "group": "9a6909c99d399945",
        "width": 2,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "dla ANG",
        "x": 340,
        "y": 1380,
        "wires": [],
        "info": "Wskaźnik LED wyświetlający status połączenia MQTT.\n(connected -> zielony, connecting -> żółty, disconnected -> czerwony)\nLED indicator displaying the MQTT connection status.\n(connected -> green, connecting -> yellow, disconnected -> red)"
    },
    {
        "id": "65eba1db7e8dab4d",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Elementy widoczne ANG",
        "info": "**Text Node 'Nazwa czujnika'**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Nodes 'Oś X', 'Oś Y', 'Oś Z'**:\n[POL]   Wyświetlają wartości osi X, Y, Z.\n[ENG]   Display the axsi X, Y, Z values.\n\n**Chart Node 'Oś X', 'Oś Y', 'Oś Z'**:\n[POL]   Rysuje wykres ruchu X, Y, Z.\n[ENG]   Draws the axsi X, Y, Z values.\n\n**Gauge Node 'rssi'**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.",
        "x": 1290,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c370f3fa7ff9f03c",
        "type": "function",
        "z": "adf6dd9955f82fdc",
        "name": "MOV bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1700,
        "wires": [
            [
                "f0a7b62e4d1bb605",
                "ef6646e35241173b"
            ]
        ],
        "info": "Przetwarza wiadomości, aby wyodrębnić wartość baterii.\r\nProcesses messages to extract the battery value."
    },
    {
        "id": "f0a7b62e4d1bb605",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "0deed91a4739f2bc",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 1700,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "ef6646e35241173b",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "3265ee4350f65bb8",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1340,
        "y": 1700,
        "wires": [],
        "info": "Wyświetla stan baterii czujnika.\r\nDisplays the battery level."
    },
    {
        "id": "36fa2bcd0f68c0e3",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "9a6909c99d399945",
        "order": 4,
        "width": 5,
        "height": 2,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 1360,
        "y": 1540,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\nDisplays the sensor name."
    },
    {
        "id": "8f1fc07f52c5341e",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "",
        "group": "9a6909c99d399945",
        "order": 1,
        "width": 2,
        "height": 3,
        "gtype": "donut",
        "title": "rssi",
        "label": "dBm",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1580,
        "wires": [],
        "info": "Wyświetla wartość RSSI jako miernik.\nDisplays the RSSI value as a gauge."
    },
    {
        "id": "d72081a006687544",
        "type": "ui_gauge",
        "z": "adf6dd9955f82fdc",
        "name": "Stan ruchu",
        "group": "9a6909c99d399945",
        "order": 7,
        "width": 2,
        "height": 3,
        "gtype": "wave",
        "title": "Stan ruchu",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-80",
        "seg2": "-60",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 1660,
        "wires": [],
        "info": "Wyświetla stan ruchu jako miernik.\nDisplays the motion status as a gauge."
    },
    {
        "id": "39478b2823520eb5",
        "type": "comment",
        "z": "adf6dd9955f82fdc",
        "name": "Elementy widoczne dla RHT",
        "info": "**Text Node \"Nazwa czujnika\"**:\n[POL]   Wyświetla nazwę czujnika.\n[ENG]   Displays the sensor name.\n\n**Text Node \"Temperatura\"**:\n[POL]   Wyświetla wartość temperatury.\n[ENG]   Displays the temperature value.\n\n**Text Node \"Wilgotnisc\"**:\n[POL]   Wyświetla wartość wilgotniści.\n[ENG]   Displays the humidity value.\n\n**Chart Node \"RHT T\"**:\n[POL]   Rysuje wykres temperatury w czasie.\n[ENG]   Draws a temperature chart.\n\n**Chart Node \"RHT H\"**:\n[POL]   Rysuje wykres wilgotniści w czasie.\n[ENG]   Draws the humidity chart.\n\n**Gauge Node \"rssi\"**:\n[POL]   Wyświetla wartość RSSI jako miernik.\n[ENG]   Displays the RSSI value as a gauge.\n\n**Text Node \"Bateria\"**:\n[POL]   Wyświetla wartość baterii.\n[ENG]   Displays the battery value.\n",
        "x": 1300,
        "y": 360,
        "wires": []
    },
    {
        "id": "b349145de7c53433",
        "type": "ui_text",
        "z": "adf6dd9955f82fdc",
        "group": "f4e57924918ed1cd",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 420,
        "wires": [],
        "info": "Wyświetla nazwę czujnika.\r\nDisplays the sensor name."
    },
    {
        "id": "d04128d97d5dc414",
        "type": "ui_spacer",
        "z": "adf6dd9955f82fdc",
        "name": "spacer",
        "group": "5159dc9ffe43f36f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4472de113e5bb813",
        "type": "ui_spacer",
        "z": "adf6dd9955f82fdc",
        "name": "spacer",
        "group": "5159dc9ffe43f36f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "5159dc9ffe43f36f",
        "type": "ui_group",
        "name": "RHT",
        "tab": "fe41c60bfc39d6c2",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea1817d2da34bc72",
        "type": "ui_group",
        "name": "T",
        "tab": "de4d1b9b736aed1d",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ca5563fcbfe4fc4",
        "type": "ui_group",
        "name": "MAG",
        "tab": "585e89814b62ee06",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0deed91a4739f2bc",
        "type": "ui_group",
        "name": "ANG",
        "tab": "900661a330d185d2",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4e57924918ed1cd",
        "type": "ui_group",
        "name": "RHT",
        "tab": "7f6a106518759c89",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7927da874e043a8f",
        "type": "ui_group",
        "name": "T",
        "tab": "7f6a106518759c89",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "adf7cf7a8df9ad59",
        "type": "ui_group",
        "name": "MAG",
        "tab": "7f6a106518759c89",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3265ee4350f65bb8",
        "type": "ui_group",
        "name": "MOV",
        "tab": "7f6a106518759c89",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e56e5416fcec5d9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.0.9",
        "port": "61883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a6909c99d399945",
        "type": "ui_group",
        "name": "MOV",
        "tab": "2b4daee554416d5f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eed8cbaa911e5b5f",
        "type": "ui_group",
        "name": "ANG",
        "tab": "7f6a106518759c89",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe41c60bfc39d6c2",
        "type": "ui_tab",
        "name": "RHT",
        "icon": "opacity",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de4d1b9b736aed1d",
        "type": "ui_tab",
        "name": "T",
        "icon": "ac_unit",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "585e89814b62ee06",
        "type": "ui_tab",
        "name": "MAG",
        "icon": "exposure",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "900661a330d185d2",
        "type": "ui_tab",
        "name": "ANG",
        "icon": "all_out",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f6a106518759c89",
        "type": "ui_tab",
        "name": "Czujniki Blue PUCK",
        "icon": "settings_remote",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b4daee554416d5f",
        "type": "ui_tab",
        "name": "MOV",
        "icon": "open_with",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]