RHT_T_MAG_MOV.json
[
    {
        "id": "a238bb4939441ca7",
        "type": "tab",
        "label": "RHT, T, MAG, MOV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c0e3499b2f465d9",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "5159dc9ffe43f36f",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb8d92554f9d897f",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "RHT nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 400,
        "wires": [
            [
                "3c0e3499b2f465d9",
                "3b1784c0e7b05b59"
            ]
        ]
    },
    {
        "id": "ae5f87c8f9398a4e",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "5159dc9ffe43f36f",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef4f0bb4f580a4ba",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "RHT temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "ae5f87c8f9398a4e",
                "a0702badadcff194",
                "626c913408b94cde",
                "9b46dcd5aebb297e"
            ]
        ]
    },
    {
        "id": "516a24c80724c998",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "5159dc9ffe43f36f",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wilgotność:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "c832c7d4f03806b0",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "RHT wilgotnosc",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].charValues.humidity;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"wilgotność\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 480,
        "wires": [
            [
                "516a24c80724c998",
                "10deba234a9c104d",
                "4c3abb7b97dc2764",
                "19ab4a5ae1f42267"
            ]
        ]
    },
    {
        "id": "577e1a8d7ab67ab2",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "ea1817d2da34bc72",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "658c4b14598ce7ab",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "T nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            [
                "577e1a8d7ab67ab2",
                "1f1fe156afc368eb"
            ]
        ]
    },
    {
        "id": "5da040886deb3f09",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "ea1817d2da34bc72",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "556a8623e48a6460",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "T temperatura",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].charValues.temperature;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "5da040886deb3f09",
                "f3e407c40883cf17",
                "86257b59964ffa1f",
                "db3851e9e222c1f8"
            ]
        ]
    },
    {
        "id": "eb9d160c105da51a",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "1ca5563fcbfe4fc4",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 860,
        "wires": []
    },
    {
        "id": "b27c0b897012eb11",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MAG nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 860,
        "wires": [
            [
                "eb9d160c105da51a",
                "4d0f82121b7828b4"
            ]
        ]
    },
    {
        "id": "898af902e7d38332",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "1ca5563fcbfe4fc4",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Stan:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "618ff220d1ff0c5d",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MAG state",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        if (Object.keys(msg.payload.data[0].charValues).length > 0){\n            msg.payload = msg.payload.data[0].charValues.alertLevel.state;\n        } else {\n            return;\n        }      \n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"stan\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 900,
        "wires": [
            [
                "898af902e7d38332",
                "29bb117d87b5ee49",
                "0f50eaf89ca36bb3",
                "ca7ae176d5dc7fa6"
            ]
        ]
    },
    {
        "id": "e208b0f8e5403e54",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "1ca5563fcbfe4fc4",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 940,
        "wires": []
    },
    {
        "id": "0ef2c08ae5332c9e",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MAG count",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        if (Object.keys(msg.payload.data[0].charValues).length > 0){\n            msg.payload = msg.payload.data[0].charValues.alertLevel.counter;\n        } else {\n            return;\n        }      \n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"licznik\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 940,
        "wires": [
            [
                "e208b0f8e5403e54",
                "a8ce654b72aac25c",
                "7367825eb4173e7e",
                "2c8cacd0e93e8045"
            ]
        ]
    },
    {
        "id": "7e80712034bb4f1e",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV X",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].charValues.xAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"x\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "c51360783a9edc2f",
                "e3e7de360b81d13e",
                "19a2c04f77f590a4",
                "f36a161f97a6ea10"
            ]
        ]
    },
    {
        "id": "4cd27caec1b0b4e2",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV y",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].charValues.yAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"y\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "bc24c1a227ef85d0",
                "e3e7de360b81d13e",
                "90c738d4df269a7d",
                "f36a161f97a6ea10"
            ]
        ]
    },
    {
        "id": "751f2c2f3b35096b",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV z",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].charValues.zAxis;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nmsg.topic = \"z\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "34d30fc7be4b6c37",
                "e3e7de360b81d13e",
                "f7f8529e390e4d44",
                "f36a161f97a6ea10"
            ]
        ]
    },
    {
        "id": "517586b83eb7a79a",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV nazwa",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].name;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "a33438cf4701c9d0",
                "4000f23c6bab0d8f"
            ]
        ]
    },
    {
        "id": "a33438cf4701c9d0",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "0deed91a4739f2bc",
        "order": 1,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c51360783a9edc2f",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "0deed91a4739f2bc",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś X:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "bc24c1a227ef85d0",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "0deed91a4739f2bc",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Y:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "34d30fc7be4b6c37",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "0deed91a4739f2bc",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Z:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a0702badadcff194",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "RHT T",
        "group": "5159dc9ffe43f36f",
        "order": 9,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f3e407c40883cf17",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "T",
        "group": "ea1817d2da34bc72",
        "order": 6,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ce654b72aac25c",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "MAG",
        "group": "1ca5563fcbfe4fc4",
        "order": 8,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e3e7de360b81d13e",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "MOV",
        "group": "0deed91a4739f2bc",
        "order": 8,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "3b1784c0e7b05b59",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "f4e57924918ed1cd",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "626c913408b94cde",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "f4e57924918ed1cd",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 440,
        "wires": []
    },
    {
        "id": "10deba234a9c104d",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "f4e57924918ed1cd",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wilgotność:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1170,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f1fe156afc368eb",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "7927da874e043a8f",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 640,
        "wires": []
    },
    {
        "id": "86257b59964ffa1f",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "7927da874e043a8f",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 680,
        "wires": []
    },
    {
        "id": "4d0f82121b7828b4",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "adf7cf7a8df9ad59",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 860,
        "wires": []
    },
    {
        "id": "29bb117d87b5ee49",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "adf7cf7a8df9ad59",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Stan:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 900,
        "wires": []
    },
    {
        "id": "7367825eb4173e7e",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "adf7cf7a8df9ad59",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 940,
        "wires": []
    },
    {
        "id": "4000f23c6bab0d8f",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "3265ee4350f65bb8",
        "order": 1,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Nazwa czujnika:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1120,
        "y": 1120,
        "wires": []
    },
    {
        "id": "19a2c04f77f590a4",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "3265ee4350f65bb8",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś X:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 1160,
        "wires": []
    },
    {
        "id": "90c738d4df269a7d",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "3265ee4350f65bb8",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Y:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f7f8529e390e4d44",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "3265ee4350f65bb8",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Oś Z:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4c3abb7b97dc2764",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "RHT H",
        "group": "f4e57924918ed1cd",
        "order": 8,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "db3851e9e222c1f8",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "T",
        "group": "7927da874e043a8f",
        "order": 6,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2c8cacd0e93e8045",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "MAG",
        "group": "adf7cf7a8df9ad59",
        "order": 8,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f36a161f97a6ea10",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "MOV",
        "group": "3265ee4350f65bb8",
        "order": 8,
        "width": 16,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "4f4805403d675101",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "RHT rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "37bf7ae18f608ca6",
                "21e60fdf3167d30a"
            ]
        ]
    },
    {
        "id": "316bf044fa2f70b0",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "T rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 720,
        "wires": [
            [
                "455fab1086ea3eac",
                "dd9a09d5b4e6550a"
            ]
        ]
    },
    {
        "id": "675cea89a8dfa429",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MAG rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 980,
        "wires": [
            [
                "e2718b040f3f1644",
                "0ace82ee8ff4a7e4"
            ]
        ]
    },
    {
        "id": "27dcd6ab1f4ef863",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV rssi",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].rssi;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1280,
        "wires": [
            [
                "83b005ee48f5d666",
                "5c968884f3117eed"
            ]
        ]
    },
    {
        "id": "37bf7ae18f608ca6",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "5159dc9ffe43f36f",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "21e60fdf3167d30a",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "f4e57924918ed1cd",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "455fab1086ea3eac",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "7927da874e043a8f",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 720,
        "wires": []
    },
    {
        "id": "0ace82ee8ff4a7e4",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "adf7cf7a8df9ad59",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 980,
        "wires": []
    },
    {
        "id": "83b005ee48f5d666",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "3265ee4350f65bb8",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5c968884f3117eed",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "0deed91a4739f2bc",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e2718b040f3f1644",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "1ca5563fcbfe4fc4",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 980,
        "wires": []
    },
    {
        "id": "dd9a09d5b4e6550a",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "ea1817d2da34bc72",
        "order": 2,
        "width": 5,
        "height": 2,
        "gtype": "donut",
        "title": "rssi",
        "label": "",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#008000"
        ],
        "seg1": "-85",
        "seg2": "-65",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "0f50eaf89ca36bb3",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "1ca5563fcbfe4fc4",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "Stan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 900,
        "wires": []
    },
    {
        "id": "ca7ae176d5dc7fa6",
        "type": "ui_gauge",
        "z": "a238bb4939441ca7",
        "name": "",
        "group": "adf7cf7a8df9ad59",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "wave",
        "title": "Stan",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1290,
        "y": 900,
        "wires": []
    },
    {
        "id": "f5530bdfb49d16e9",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "mqtt",
        "func": "if(msg.status.fill === \"green\") {\n    msg.payload = 2;\n} else if (msg.status.fill === \"yellow\") {\n    msg.payload = 1;\n} else if (msg.status.fill === \"red\") {\n    msg.payload = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1440,
        "wires": [
            [
                "71595274b321688b",
                "ca267be5fdbf98c7",
                "b4fa2388c3f4c8ae",
                "2013e0b6d630dcad",
                "c2f2dbab75a16017",
                "a567a8dd053a875b",
                "da0e265b2537679c",
                "d8ba4b26966ad86f"
            ]
        ]
    },
    {
        "id": "08197c3ee6562ea2",
        "type": "status",
        "z": "a238bb4939441ca7",
        "name": "",
        "scope": [
            "3ef9920a4de0d976"
        ],
        "x": 380,
        "y": 1440,
        "wires": [
            [
                "f5530bdfb49d16e9"
            ]
        ]
    },
    {
        "id": "a567a8dd053a875b",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 3,
        "group": "7927da874e043a8f",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1010,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c2f2dbab75a16017",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 3,
        "group": "ea1817d2da34bc72",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1010,
        "y": 1420,
        "wires": []
    },
    {
        "id": "71595274b321688b",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 3,
        "group": "0deed91a4739f2bc",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ca267be5fdbf98c7",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 3,
        "group": "3265ee4350f65bb8",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 710,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b4fa2388c3f4c8ae",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 4,
        "group": "1ca5563fcbfe4fc4",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2013e0b6d630dcad",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 4,
        "group": "adf7cf7a8df9ad59",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 850,
        "y": 1460,
        "wires": []
    },
    {
        "id": "da0e265b2537679c",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 4,
        "group": "5159dc9ffe43f36f",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d8ba4b26966ad86f",
        "type": "ui_led",
        "z": "a238bb4939441ca7",
        "order": 3,
        "group": "f4e57924918ed1cd",
        "width": 3,
        "height": 1,
        "label": "MQTT",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1170,
        "y": 1460,
        "wires": []
    },
    {
        "id": "19ab4a5ae1f42267",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "RHT H",
        "group": "5159dc9ffe43f36f",
        "order": 10,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "9b46dcd5aebb297e",
        "type": "ui_chart",
        "z": "a238bb4939441ca7",
        "name": "RHT T",
        "group": "f4e57924918ed1cd",
        "order": 7,
        "width": 8,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1356,
        "y": 439,
        "wires": [
            []
        ]
    },
    {
        "id": "92cbb82a516fbfab",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "zmianaRSSI",
        "func": "\nconst value = msg.payload;\nmsg = {\n    ui_control: {\n        seg1: -85,\n        seg2: -70\n    },\n    payload: value\n}\n/*\n    red   yellow   green\n-100 -> seg1 -> seg2 -> 0\npo dodaniu nowych wartości, należy kliknącz Deploy, a następnie inject z timestamp\n*/\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "37bf7ae18f608ca6",
                "21e60fdf3167d30a",
                "e2718b040f3f1644",
                "0ace82ee8ff4a7e4",
                "5c968884f3117eed",
                "83b005ee48f5d666",
                "455fab1086ea3eac",
                "dd9a09d5b4e6550a",
                "c5e44805805f6601"
            ]
        ]
    },
    {
        "id": "44827dbd3e6c3b88",
        "type": "inject",
        "z": "a238bb4939441ca7",
        "name": "Wprowadź zmianny dla RSSI",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "92cbb82a516fbfab"
            ]
        ]
    },
    {
        "id": "a0279382ae9ce241",
        "type": "debug",
        "z": "a238bb4939441ca7",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 740,
        "wires": [],
        "info": "Służy do debugowania wiadomości.\nUsed for debugging messages."
    },
    {
        "id": "c5e44805805f6601",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "RHT bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_RHT\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "cba33d2b32771468",
                "7229051da6135cc6"
            ]
        ]
    },
    {
        "id": "cba33d2b32771468",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "5159dc9ffe43f36f",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "7229051da6135cc6",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "f4e57924918ed1cd",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "82ef1e6da2f12166",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "T bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_T\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "b6f3c07edb9fc68d",
                "88f65d48e4381a35"
            ]
        ]
    },
    {
        "id": "b6f3c07edb9fc68d",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "ea1817d2da34bc72",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 760,
        "wires": []
    },
    {
        "id": "88f65d48e4381a35",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "7927da874e043a8f",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "67862e71bb7f1787",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MAG bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MAG\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "b1b5b6395635c740",
                "debdf591c40d7261"
            ]
        ]
    },
    {
        "id": "b1b5b6395635c740",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "1ca5563fcbfe4fc4",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 1020,
        "wires": []
    },
    {
        "id": "debdf591c40d7261",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "adf7cf7a8df9ad59",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 1020,
        "wires": []
    },
    {
        "id": "20b45fbecc08e8ff",
        "type": "function",
        "z": "a238bb4939441ca7",
        "name": "MOV bateria",
        "func": "if (msg.payload.action === \"data.scan\"){\n    if (msg.payload.data[0].model === \"ELA_MOV\"){\n        msg.payload = msg.payload.data[0].mfrValues.batteryVoltage;\n    } else {\n        return;\n    }\n} else {\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1320,
        "wires": [
            [
                "55c7dd8957d9a6c8",
                "6ca6576b78e51694"
            ]
        ]
    },
    {
        "id": "55c7dd8957d9a6c8",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "0deed91a4739f2bc",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 860,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6ca6576b78e51694",
        "type": "ui_text",
        "z": "a238bb4939441ca7",
        "group": "3265ee4350f65bb8",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Bateria:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3236f886bbd4ff68",
        "type": "mqtt in",
        "z": "a238bb4939441ca7",
        "name": "",
        "topic": "AMC/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "038eb83fd0c55fe9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "a0279382ae9ce241",
                "eb8d92554f9d897f",
                "ef4f0bb4f580a4ba",
                "c832c7d4f03806b0",
                "4f4805403d675101",
                "c5e44805805f6601",
                "658c4b14598ce7ab",
                "556a8623e48a6460",
                "316bf044fa2f70b0",
                "b27c0b897012eb11",
                "618ff220d1ff0c5d",
                "0ef2c08ae5332c9e",
                "675cea89a8dfa429",
                "67862e71bb7f1787",
                "517586b83eb7a79a",
                "7e80712034bb4f1e",
                "4cd27caec1b0b4e2",
                "751f2c2f3b35096b",
                "27dcd6ab1f4ef863",
                "20b45fbecc08e8ff",
                "82ef1e6da2f12166"
            ]
        ],
        "info": "Odbiera wiadomości z tematu 'AMC/test' na serwerze MQTT.\nReceives messages from the topic 'AMC/test' on the MQTT server."
    },
    {
        "id": "1abf2f54fa6f38ac",
        "type": "ui_spacer",
        "z": "a238bb4939441ca7",
        "name": "spacer",
        "group": "f7e4faa40edb9b35",
        "order": 1,
        "width": 17,
        "height": 1
    },
    {
        "id": "f28e926b25c76bb6",
        "type": "ui_spacer",
        "z": "a238bb4939441ca7",
        "name": "spacer",
        "group": "5159dc9ffe43f36f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7bcd61e6c09aed3f",
        "type": "ui_spacer",
        "z": "a238bb4939441ca7",
        "name": "spacer",
        "group": "5159dc9ffe43f36f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "5159dc9ffe43f36f",
        "type": "ui_group",
        "name": "RHT",
        "tab": "fe41c60bfc39d6c2",
        "order": 5,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea1817d2da34bc72",
        "type": "ui_group",
        "name": "T",
        "tab": "de4d1b9b736aed1d",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ca5563fcbfe4fc4",
        "type": "ui_group",
        "name": "MAG",
        "tab": "585e89814b62ee06",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0deed91a4739f2bc",
        "type": "ui_group",
        "name": "MOV",
        "tab": "900661a330d185d2",
        "order": 4,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4e57924918ed1cd",
        "type": "ui_group",
        "name": "RHT",
        "tab": "7f6a106518759c89",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7927da874e043a8f",
        "type": "ui_group",
        "name": "T",
        "tab": "7f6a106518759c89",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "adf7cf7a8df9ad59",
        "type": "ui_group",
        "name": "MAG",
        "tab": "7f6a106518759c89",
        "order": 3,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3265ee4350f65bb8",
        "type": "ui_group",
        "name": "MOV",
        "tab": "7f6a106518759c89",
        "order": 4,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "038eb83fd0c55fe9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.80.0.15",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe41c60bfc39d6c2",
        "type": "ui_tab",
        "name": "RHT",
        "icon": "opacity",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de4d1b9b736aed1d",
        "type": "ui_tab",
        "name": "T",
        "icon": "ac_unit",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "585e89814b62ee06",
        "type": "ui_tab",
        "name": "MAG",
        "icon": "exposure",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "900661a330d185d2",
        "type": "ui_tab",
        "name": "MOV",
        "icon": "open_with",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f6a106518759c89",
        "type": "ui_tab",
        "name": "Czujniki Blue PUCK",
        "icon": "settings_remote",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]